:root {
  font-family: sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.myNews {
  max-width: 1000px;
  margin: 0 auto;
}
.localInformation {
  background-color: white;
  padding: 20px;
  margin: 30px 0;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.content {
  padding: 20px 0;
}
.titleInformation {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.dataNews {
  align-self: center;
  font-size: 15px;
  color: gray;
}
.myForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 50px;
}
.myBlockForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.fname,
.lname {
  margin: 15px 0;
}
textarea {
  height: 10em;
  width: 50em;
  margin: 20px 0;
}
.myBtn {
  width: 30%;
  margin: 0 auto 15px;
}
.myArea {
  margin: 20px 0;
}

.myBtnCancel {
  width: 30%;
  margin: 0 auto;
}

.addNews {
  position: fixed;
  top: 84%;
  border: none;
  left: 89%;
  background-color: inherit;
  transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.addNews:hover {
  transform: rotate(180deg);
  color: rebeccapurple;
}
.fas {
  font-size: 50px;
  color: green;
}

.hide {
  display: none;
}

.doc-header {
}
.container-header {
  display: flex;
  justify-content: space-evenly;
  background-color: orange;
  padding: 20px;
}
.search-inp {
  box-shadow: -2px 6px 15px 11px rgba(0, 0, 0, 0.2) inset;
}
.head-logo {
  font-size: 35px;
  font-family: sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
